@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root{
	--color-botones:#77F5FF;
	--color-texto: #000000;
	--color-hover: #FFF73C;
	--color-azul: #0171F1;
	--color-iconos: #FF00FF;
	--color-rosa: #FF6EFF;
	--color-morado: #662D91;
	--color-aqua: #58BCB2;
	--color-verde: #393F39;
	--color-blanco: #fff;
	--color-sobre: #FB02FF;
}

body{
margin:0;
padding:0;
}

header{
	background: linear-gradient(90deg,rgba(255, 0, 255, 1) 0%, rgba(1, 113, 241, 1) 50%, rgba(231, 218, 87, 1) 100%, rgba(255, 247, 60, 1) 100%);
	padding: 10px 0;
	width: cover;
}

.navbar-nav{
list-style: none; 
margin: auto;
gap: 25px;
display: flex;
justify-content: center;
}


.nav-link {
position: relative;
background-color: var(--color-hover);
color: var(--color-texto)!important;
padding: 12px 40px;
font-family: 'Anton SC', sans-serif;
font-size: 22px;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
border: none;
z-index: 1;
transition: transform 0.2s ease;
display: inline-flex;
align-items: center;
justify-content: center;
box-shadow: -6px 6px 0px black;

}

.nav-link:hover{
background-color: var(--color-botones);
transform: translate(-3px, -3px);
}


#hero{
background-color: var(--color-texto);
min-height: 88vh; 
display: flex;
align-items: center; 
justify-content: center;
padding: 1;
}

.hero-container{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}

.imagenprotada{
width: 70%;   
max-width: 750px;
display: block;
transform: translateY(0px); 
}

#sobre-mi{
background-color: var(--color-texto);
background-size: cover;
background-position: center;
padding: 40px 0;  
margin-top: 20px;
}
 

h2.titulo{
font-family: 'Anton SC', sans-serif;
font-size: 42px;
color: var(--color-blanco);
font-weight: 500;

}

.sobre-mi-texto{
text-align: center;
max-width: 600px;   
margin: 0 auto;     
padding: 15px 15px;
}

h3.subtitulo{
font-family: 'Inter';
font-size: 16px;
color: var(--color-texto);	
font-weight: 150;
padding-left: 20px;
padding-right: 20px;
padding: 30px 0;
}

.perfil{
text-align: center;
padding-bottom: 5px;

}

.btn{
text-decoration: none;
}

.btn-sobre{
position: relative;
background-color: var(--color-hover);
color: var(--color-texto)!important;
padding: 12px 40px;
font-family: 'Anton SC', sans-serif;
font-size: 22px;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
border: none;
z-index: 1;
transition: transform 0.2s ease;
display: inline-flex;
align-items: center;
justify-content: center;
box-shadow: -6px 6px 0px black;
}

.btn-sobre:hover{
background-color: var(--color-botones);
transform: translate(-3px, -3px);
color: var(--color-texto)!important;
}

.btn-sobre h2{
color: var(--color-texto);
}

h2.titulo-dos{
font-family: 'Anton SC', sans-serif;
font-size: 42px;
font-weight: 500;
color: var(--color-texto);
padding: 40px 0;
}

h3.texto-dos{
font-family: 'Inter';
font-size: 20px;
color: var(--color-texto);	
font-weight: 200;
padding-left: 20px;
padding-right: 20px;	
}

#ilustracion{
background-color: var(--color-rosa);
background-size: cover;
padding: 120px 0;
}

.btn-estilo {
position: relative;
background-color: var(--color-hover);
color: var(--color-texto)!important;
padding: 12px 40px;
font-family: 'Anton SC', sans-serif;
font-size: 22px;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
border: none;
z-index: 1;
transition: transform 0.2s ease;
display: inline-flex;
align-items: center;
justify-content: center;
box-shadow: -6px 6px 0px black;

}

.btn-estilo:hover {
background-color: var(--color-botones);
transform: translate(-3px, -3px);
color: var(--color-texto)!important;

}

.btn-estilo h2.titulo{
color: var(--color-texto);
}

.btn{

border-radius: 0 !important;

}

#ilustracion .carousel{
margin-top: 40px;
margin-left: 4%;
}


#tercer-carousel-ilustracion{
margin-top: 60px;
text-align: center;
}

#tercer-carousel-ilustracion .carousel-item{
text-align: center;
}

.img-vertical{
width: auto;          
max-height: 500px;     
display: block;
margin: auto;
}

.carousel-item img.img-vertical{
width: auto;
max-width: none;
}

#arte-conceptual{
background-color: var(--color-morado);
background-size: cover;
padding: 80px 0;
}

#arte-conceptual .carousel{
margin-top: 40px;
margin-left: 4%;
}

#carousel-arte-conceptual,
#primer-carousel-ui,
#segundo-carousel-ui{
margin-top: 60px;
text-align: center;
}

.carousel-item img{
max-width: 700px;  
width: 100%;
height: auto;
margin: 0 auto;
display: block;
}

.carousel {
  margin-top: 30px !important;
}

#carousel-arte-conceptual .carousel-item{
text-align: center;
}

#diseno-personajes {
background-color: Var(--color-azul);
background-size: cover;
padding: 120px 0;
}

.carousel-inner{
width: auto;
height: auto; 

}

.personajes-grid{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 40px;
margin-top: 60px;

}

.personajes-grid article{
display: flex;
justify-content: center;
align-items: center;
max-width: 400px;

}

.personajes-grid img{
max-width: 100%;
height: auto;

}

.section{
padding: 70px 0;

}

.carousel-item{
justify-content: center;
align-items: center;

}

#ux-ui{
background-color: var(--color-aqua);
background-size: cover;	
}

.footer-contacto {
  background: linear-gradient(90deg,rgba(255, 0, 255, 1) 0%, rgba(1, 113, 241, 1) 50%, rgba(231, 218, 87, 1) 100%, rgba(255, 247, 60, 1) 100%);
  background-size: cover;
  background-position: center;
  padding: 90px 20px;
  color: var(--color-blanco);
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}



.footer-header {
margin-bottom: 60px;
}

.footer-info {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}


.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}


.contact-item i {
  color: var(--color-iconos);
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

